html{
    font-size: 62.5%;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    color:aliceblue;
    font-family: 'Montserrat', sans-serif;
   

}


/* navbar  */
/* sidebar  */
.sidebar{
    width: 10rem;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
  
    justify-content:space-between;
    align-items: center;
    
    background-color:rgb(48, 46, 71);
    z-index: 11;

}

.menu-icon{
  
    margin-top: 2rem;
   
}

.github{
    font-size: 2.5rem;
    color:rgb(99, 98, 105);
    border-radius: 1200px;
    padding: .5rem;
    margin-top: .5rem;
    letter-spacing: .2rem;
    border: 1px solid;
}

.github:hover{
    color:rgb(86, 82, 129);
}


.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom:.6rem ;
    
}

.line-1 ,.line-3{
    width: 1.8rem;
    transition: all .5s ;
}


.avatar{


    width: 14rem;
    height: 12rem;
    color:rgb(29, 29, 46);
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 2rem;
    transition: all 2s cubic-bezier(1,1,.5,.5);

}

.avatar:hover{
    background-color: rgb(29, 29, 46);
    border:0.1rem solid rgb(93, 93, 135);
}

.img{
    width: 13rem;
    height: 9rem;
}

.navigation-myname{
    font-size: 3rem;
    text-align: center;
}


.social-icons-ullist{
    list-style-type: none;
    height: 25rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color: #777;
    height: 10rem;
    transition: color .3s;
    margin-left: 1rem;
}
.social-link:hover{
    color:  aliceblue;
}
.navigation{
    position: fixed;
    width: 30rem;
    left:-30rem;
    height: 100%;
    background:linear-gradient(to top,rgba(34,32,41,1),rgba(34,32,41,0.8));
    justify-content: space-between;
    align-items: center;

    display: flex;
    flex-direction:column;

    transition: left .8s cubic-bezier(1,0,0,1);
  

}

.navigation:hover{
    z-index: 22;
    background-color: #fff;
}

.navigation-list{
   list-style: none;
   padding: 0;
   height:25rem ;
}
.navigation-item{
    position: relative;
}

.navigation-link{
    font-size: 2.5rem;
    color:aliceblue;
    letter-spacing: .2rem;
    text-decoration: none;
    position: relative;
    transition: color .3s ;
}
.navigation-link:hover{
    color: #777;
    cursor: pointer;

}

.navigation-link::after{
    content:"";
    width: 0;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    bottom: -.1rem;
    left: 2.5rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}

 


.navigation-link:hover::after{
    width: 4rem;

}


#click:checked ~ .navigation{
    left: 10rem;

}

 

#click:checked ~ .sidebar .line-1{
    transform:rotate(-405deg) translate(-5px,6px);
    width: 2.5rem;
}

#click:checked ~ .sidebar .line-2{
    opacity: 0;
}

#click:checked ~ .sidebar .line-3{
    transform:rotate(405deg) translate(-5px,-6px);
    width: 2.5rem;
}

.checkbox{
    display: none;
    
}

 
/* end of navbar  */
/* end pf sidebar  */


/* Header*/
.header{
    margin-left:10rem;
    height: 70vh;
    background:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url('../img/nav.jpg') no-repeat fixed ;
  
    background-size: cover;
    z-index: 11;
}

 
.banner{
    font-family: 'Montserrat', sans-serif;
    color: #deaa86;
    font-size: 3.5rem;
    height: 45rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
}

.banner-heading{
    margin-bottom: .1rem;
}

.banner-paragraph{
   margin-top: .1rem;
   
 
}
.banner-paragraph span{
    display:grid;
    height:1.2em;
  

}

.banner-paragraph span span{
 
    
  
    overflow: hidden;
    text-decoration: underline;
    
    text-decoration-color: #deaa86;
   
    white-space: nowrap;
  animation: typewriter 2s steps(13) infinite alternate,
          blink 800ms steps(13) infinite normal;
          border-right: 5px solid   #ddd;

}

 
  /* keyframes for banner*/

  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    from {
      border-color:  #ddd;;
    }
    to {
      border-color: transparent;
    }
  }
 
/* End of Header*/

/* About*/
.about{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 10rem;
    padding: 10rem;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.subheading{
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .4rem;

}

.about > .about-content{
flex:  0 1 37%;
}

.about > .about-content-extra{
    flex:  1 1 57%;
    }
.about-heading{
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: .4rem;

}
.small-underline{
   width: 5rem;
   height: .2rem;
   background-color: #deaa86;
   position: relative;
   transition: width .5s cubic-bezier(1,0,0,1);
  
}
.small-underline::after{
    content: "";
    width: 0;
    height: .2rem;
    position: absolute;
    background-color: #deaa86;
    transition: all .5s cubic-bezier(1,0,0,1);
}

.small-underline:hover ::after{
    width: 20rem;

}

.long-underline{
    width: 12rem;
    height: .2rem;
    background-color: #deaa86;
    position: relative;
    transition: width .5s cubic-bezier(1,0,0,1);
   
 }

.allaboutme-span{
    font-weight: bold;
}
/* End of About*/

/* Portfolio*/

.portfolio{
    margin-left: 10rem;
    padding: 10rem;
    color: #222;
    display: flex;
    flex-direction: column;
}
.common-portfolio-header p{
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .4rem;
}

.common-portfolio-heading{
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: .4rem;

}

.portfolio-card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-card{
    width: 60rem;
    margin: 5rem;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.4);
  
}
.portfolio-card-image{
    width:inherit;
    height: inherit;
}


.portfolio-img{
    width: 100%;
}

.portfolio-card-content{
    padding: 2rem;
}

.portfolio-card-header{
    margin: 0;
    font-size: 3rem;

}
.portfolio-card-text{
    font-size: 1.5rem;
}
.portfolio-card-btns-list{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 3rem;
}
.portfolio-card-btn{
    width: 15rem;
    font-weight: 200;
    font-size: 1.9rem;
    padding: .5rem;
    border-radius: .5rem;
    border: .1rem solid silver;
    background-color:rgb(48, 46, 71);
    

    cursor: pointer;
}


 
/*End of Portfolio*/


/* Contacts  */

.contacts{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 10rem;
    padding: 10rem;
    background-color: #222;
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}


.contacts label {
    padding-bottom: 0.5rem;
    color:aliceblue;
    display: block;
}
.contacts input {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 40rem;
    background: rgb(240, 240, 240);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}

.contacts textarea{
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 40rem;
    background: rgb(240, 240, 240);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}



/* End of Contacts  */